<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Coronavirus Data</title>

    <!-- Custom styling -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 

    <!-- External JS libraries -->
    <script src="https://pagecdn.io/lib/d3/5.16.0/d3.min.js" crossorigin="anonymous"  ></script>

</head>

<body>

        <div id="navbar">
      
            <div class="container">
                <div class="title">Search Local Authority Area:</div>                

                <div id="searchContainer">
                    <input type="text" id="searchBox" name="search" autocomplete='off' autofocus>
                    <div id="list" class="hidden list"></div>

                </div>
            
            </div>


        </div>
        <div class="main-container grid-container">

        <div class="heading-container container">
            <h1 class="title">Daily Update</h2>
            <div class="divider">
                <hr>
            </div>

            <div class="area bold" id="areaName"></div>

            <div class="specimen h1">People tested positive by specimen date </div>
            <div class="date h2">Seven Days to <%= new Date().toLocaleDateString('en-GB') %> </div>
            <div class="rolling-sum h3" id="rollingSum"></div>

            <div class="rolling-rate h1"> 
                Rate per 100K of population: <span class="rolling-rate bold h3" id="rollingRate"></span>
            </div>

            <div class="alert-level bold h1"> 
                Current Alert Level: <div class="h3" id="alertLevel"></div>
                <span class="h3" id="alertLevelValue"></span>

            </div>

            <div class="alert-msg h1 bold" id="alertLevelMsg"></div>

            <div class="divider">
                <hr>
            </div>

        </div>

        <div class="chart-container container">
        
            <div class="case-chart-container container">
                <div class="row">
                    <div id="case-chart-area"></div>
                </div>
    
                <!--<div class="dropdown-select">-->
                <!--    <p class="dropbtn">Select Testing Date Type:</p>-->
                <!--    <select id="date-type">-->
                <!--    <option value="1">Specimin Date</option>-->
                <!--    <option value="2">Published Date</option>-->
                <!--    </select>-->
                <!--</div>-->
    
            </div>
            
            <div class="death-chart-container container">

                <div class="row">
                    <div id="death-chart-area"></div>
                </div>
    
                <div class="dropdown-select">
                    <p class="dropbtn">Select Testing Date Type:</p>
                    <select id="date-type">
                    <option value="1">Specimin Date</option>
                    <option value="2">Published Date</option>
                    </select>
                </div>
    
            </div>
        </div>
    </div>


<!-- Internal JS -->
<script>
    // let d = JSON.parse('<%- data %>')
    
</script>

<!-- Custom JS -->
<script type="text/javascript" src="js/cases-chart.js"></script>
<script type="text/javascript" src="js/deaths-chart.js"></script>
<script type="text/javascript" src="js/index.js"></script>


</body>
</html>









